.editProfileMain {
    justify-content: center;
    align-items: center;
    border-color: rgb(153, 153, 153);
    border-style: dashed;
    border-width: 1px;
    width: 700px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 0px 10px #cccccc;
    border-radius: 10px;
}
table{
    text-align: center;
}

.title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}


td {
    padding-bottom: 20px;
}

.tdItems{
    padding-right: 130px;
}

.tdPassword{
    padding-right: 100px;
}


hr {
    width: 660px;
}


.submitbtn {
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    -webkit-user-select: none;
    margin-top: 30px;
}

submitbtn:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

submitbtn:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

submitbtn:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

submitbtn:focus {
    outline: 1px transparent;
}

submitbtn:before {
    display: none;
}

.switchbtn {
    vertical-align: middle;
    margin-left: 10px;
  }