.bannerImage {
    width: 80%;
    height: auto;
    max-height: 400px;
    margin: 0 auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 3rem;
  }
  .bannerText {
    width: 80%;
    height: auto; 
    max-height: 400px; 
    margin: 0 auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #1f2937;
    color:#ffffff;
    padding: 0.5rem;
    display:flex;
    justify-content: space-between;
  }
.bannerText > div {
    width: 48%
}

.welcome {
  width: 40%;
  text-align: center;
  height: auto; 
  max-height: 400px; 
  margin: 0 auto;
  margin-top: 6rem;
  background-color: rgba(31, 41, 55,0.8);
  color:#ffffff;
  padding: 0.5rem;
}

.users-header {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #333; 
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 10px;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  padding-top: 4px;

}

.user-name {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.user-email {
  color: #666;
}
